body {
    color: #f9faf8;
    margin: 0;
}

.container {
    display: flex;
}

p {
    justify-content: center;

    flex-wrap: wrap;

    width: 10%;
}


/* Top */

.header {
    background-color: #1f2937;
    color: #f9faf8;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 16em;
}

h1 {
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 3em;

    list-style: none;
}

.top-content {
    background-color: #1f2937;
    color: #f9faf8;

    flex-direction: column;
    align-items: center;

    height: 16em;
    width: 100%;
}

img {
    height: auto;
    width: 35%;
}

.flex-column {
    flex-direction:column;
}

.column-item {
    flex-basis:100%;
}


/* Random */

.random {
    background-color: #f9faf8;
    color: #1f2937;

    justify-content: space-evenly;
    align-items: center;

    height: 20em;
    width: 100%;
}

.random-box {
    align-content: center;
}

.random-col {
    flex-direction: row;
}

.boxes {
    height: auto;
    width: 100%;
}


/* Quote */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;

    justify-content: center;
    align-items: center;

    height: 20em;
    width: 100%;
}

.quote-box-1 {
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.quote-box-2 {
    justify-content: center;
    align-items: center;
    
    width: 50%;

    text-align: center;
}


/* Call to Action */

#call {
    background-color: #f9faf8;
    color: #1f2937;

    justify-content: center;
    align-items: center;

    height: 17.5em;
    width: 100%;
}

.call-box {
    background-color: #3882f6;
    color: #f9faf8;

    border-radius: 12px;

    justify-content: center;
    align-items: center;
    
    height: 8em;
    width: 50%;

    text-align: center;
}


/* Footer */

footer {
    background: #1f2937;

    height: 7em;
    width: 100%;
}